#Postgres DB
POSTGRES_USER=admin
POSTGRES_PASSWORD=password
POSTGRES_DB=clinical_trials
POSTGRES_PORT=5432

# Kafka
KAFKA_BROKER=localhost:9092
KAFKA_BOOTSTRAP_SERVERS=kafka:29092

KAFKA_TOPIC_BRONZE=trials.bronze
KAFKA_TOPIC_SILVER_TRIALS=bronze.trials
KAFKA_TOPIC_SILVER_SITES=sites.silver
KAFKA_TOPIC_GOLD_MESH=mesh.gold
KAFKA_TOPIC_GOLD_TRIALS=trials.gold