#Postgres DB
POSTGRES_USER=admin
POSTGRES_PASSWORD=password
POSTGRES_DB=clinical_trials
POSTGRES_PORT=5432

# Kafka
KAFKA_BROKER=localhost:9092
KAFKA_BOOTSTRAP_SERVERS=kafka:29092

KAFKA_TOPIC_BRONZE_TRIALS=kt.bronze.trials
KAFKA_TOPIC_SILVER_TRIALS=kt.silver.trials
KAFKA_TOPIC_SILVER_SITES=kt.silver.sites
KAFKA_TOPIC_GOLD_MESH=kt.gold.mesh
KAFKA_TOPIC_GOLD_TRIALS=kt.gold.trials